.postContent {
    margin: 0 25px;

    &__sectionTitle {
        color: #a2a2a2;
        text-transform: uppercase;
    }

    ul {
        padding-left: 15px;
    }

    br {
        clear: both;
    }

    figure {
        background-color: $light-gray;
        box-shadow: 0 0 19px 3px darken($light-gray, 9);
        margin: 0;
        margin-bottom: 15px;
        overflow: hidden;
        img {
            margin: 0;
            width: 100%;
        }
    }

    .quote, blockquote {
        background-color: $light-gray;
        border-left: 5px solid $primary-color;
        // blockquote specific
        margin-right: 0;
        font-family: $secondary-font-bold;
        font-size: 18px;
        overflow: auto;
        overflow-x: hidden;
        padding: 25px 25px 25px 49px;
        position: relative;

        p {
            margin-bottom: 0;
        }

        &.withAuthor {
            padding-bottom: 38px;
        }

        .author {
            color: $secondary-color;
            font-size: 15px;
            position: absolute;
            bottom: 10px;
            right: 25px;
        }

        &:before {
            background: url("../assets/img/quotes.png");
            background-size: 100% auto;
            content: ' ';
            color: $secondary-color;
            position: absolute;
            height: 22px;
            top: 9px;
            left: 8px;
            font-size: 55px;
            font-family: serif;
            width: 30px;
        }
    }

    blockquote:before {
        top: 11px;
    }
    // TODO create project's own custom
    // caption class
    .wp-caption {
        background-color: $light-gray;
        margin-left: 0;
        max-width: 100%;
    }
    

    .wp-caption-text, .caption {
        background-color: $light-gray;
        border-left: 3px solid $secondary-color;
        border-top: 1px solid darken($light-gray, 9);
        display: inline-block;
        color: $primary-color;
        font-family: $secondary-font-bold;
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-top: -4px;
        padding: 10px 15px;
        width: 100%;
    }

    // TODO cleanup
    .align-left, .align-right {
        margin-top: 3px;
    }

    .align-left, .align-right {
        img {
            width: 100%;
        }
    }

    .align-center {
        text-align: center;
        margin: auto;
        img {
            display: center;
        }
    }

    .align-right {
        float: right;
    }

    .align-left {
        float: left;
    }

    .margin--left {
        margin-left: 20px;
    }

    .margin--right {
        margin-right: 20px;
    }

    .margin--bottom {
        margin-bottom: 20px;
    }

    .width--20 {
        width: 20%;
    }

    .width--25 {
        width: 25%;
    }

    .width--30 {
        width: 30%;
    }
    .width--33 {
        width: 33.33%;
    }
    .width--40 {
        width: 40%;
    }
    .width--50 {
        width: 50%;
    }

    .width--60 {
        width: 60%;
    }
    .width--70 {
        width: 70%;
    }
    .sm-width--100 {
        @media screen and (max-width: $md-break) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;    
        }
    }

     .sm-width--50 {
        @media screen and (max-width: $md-break) {
            width: 50%;   
        }
    }

    @media screen and (max-width: $md-break) {
        margin: 0 0;  
    }
}