.postContextNav {
    display: inline-block;
    width: 100%;

    &_cta {
        color: $white;
        width: auto;
        max-width: 45%;
        em {
            color: $light-blue;
            transition: $ani-speed;
        }

        strong {
            color: $white;
        }

        &:hover {
            color: $light-blue;

            em {
                color: $white;
            }
        }

        &--right {
            float: right;
        }
        &--left {
            float: left;
        }
    }

     @media screen and (max-width: $lg-break) {
       :first-child {
            margin-bottom: 15px;
        }
        &_cta {
            width: 100%;

            &--right, &--left {
                display: block;
                float: none;
                max-width: 100%;
            }
        }
    }
}