.postContent {
    ul {
        padding-left: 15px;
    }

    .quote, blockquote {
        background-color: $light-gray;
        border-left: 5px solid $primary-color;
        // blockquote specific
        margin-right: 0;
        font-family: $secondary-font-bold;
        font-size: 17px;
        padding: 25px 25px 25px 49px;
        position: relative;

        p {
            margin-bottom: 0;
        }

        &.withAuthor {
            padding-bottom: 38px;
        }

        .author {
            color: $secondary-color;
            font-size: 15px;
            position: absolute;
            bottom: 10px;
            right: 25px;
        }

        &:before {
            background: url("/assets/img/quotes.png");
            background-size: 100% auto;
            content: ' ';
            color: $secondary-color;
            position: absolute;
            height: 22px;
            top: 9px;
            left: 8px;
            font-size: 55px;
            font-family: serif;
            width: 30px;
        }
    }

    blockquote:before {
        top: 11px;
    }
    // TODO create project's own custom
    // caption class
    .wp-caption {
        background-color: $light-gray;
        margin-left: 0;
        max-width: 100%;
    }

    .wp-caption-text {
        border-left: 3px solid $secondary-color;
        color: $primary-color;
        font-family: $secondary-font-bold;
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-top: -4px;
        padding: 10px 15px;
    }

    // TODO cleanup
    .alignleft, .alignright {
        margin-top: 3px;
    }

    .alignLeft {
        float: left;
        margin-right: 20px;
    }

    .alignright {
        float : right;
        margin-left: 20px;

    }
}