.postTitle {
    &__date {
        color: $secondary-color;
        font-family: $secondary-font;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &__title {
        color: $primary-color;
        margin-bottom: 0;
        margin-top: 0;
    }
    &__tagLine {
        font-family: $secondary-font;
        margin-top: 0;
        margin-bottom: 0;
        margin-top: 5px;
    }

    &__divider {
        background-size: 100% auto;
        background-position: 50% 50%;
        border-color: $light-gray;
        margin: 13px 0 17px;
        padding-top: 50px;

        @media screen and (max-width: $sm-break) {
            margin-top: 8px;
            padding-top: 25px;
        }
    }
}