.spinner{
  margin-bottom: 15px;
  position: relative;
  width: 30%;
  text-align: center;

  
  &__block {
    height: 380px;
    position: relative;
  }

  &__instructions {
      margin-top: 10px;
  }

  .click-trigger{
    cursor: pointer;
    position: absolute;
      z-index: 1;
      width: 100%;
      height: 33%;
      top:0;
      &.middle{
      top:33%;
      }
      &.bottom{
      top: 66%;
      }
  }
  .cube{
    transition: 0.25s all;
    position: relative;
    width: 100%;
    height: 33%;
    transform-origin: center center 100%;
    backface-visibility: visible;
    transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    transform-style: preserve-3d;

    &.spinAnimation{
      animation: spinTheCube .5s ease-in-out 3;
    }

    /* Image Positioning for each side  */
    &.top{
      div{
        background-position: center top;

      }
       border: 1px solid rgba(99, 164, 181, 0.2);

    }
    &.middle{
      div{
        background-position: center center;
      }
       border: 1px solid rgba(99, 164, 181, 0.2);
    }
    &.bottom{
      div{
        background-position: center bottom;
      }
      border: 1px solid rgba(99, 164, 181, 0.2);
    }

    div{
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: auto 300%;
      background-repeat: no-repeat;
      will-change: transform;
      background-color:$light-gray;
      &.first{
        transform: scaleZ(-1) translateY(50%) rotate3d(1,0,0,90deg) translateY(50%);
      }
      &.second{
        transform: scaleY(-1) rotate3d(1,0,0,90deg) translateY(-100%) rotate3d(1,0,0,-90deg);
      }
      &.third{
        transform: translateY(-50%) rotate3d(1,0,0,90deg) translateY(-50%);
      }
    }

    /* Spin */
    &.show-0{
      transform: rotate3d(1,0,0, 0deg);
    }
    &.show-1 {
      transform: translateY(-50%) rotate3d(1,0,0, 90deg);
    }
    &.show-2{
      transform: translateY(0%) rotate3d(1,0,0, 180deg);
    }
    &.show-3{
      transform: translateY(50%) rotate3d(1,0,0, 270deg);
    }
    &.show-4{
      transform: rotate3d(1,0,0, 360deg);
    }
  }
}

@media screen and (max-width: $md-break) {
    .spinner {
        float: left;
        width: 100%;
        margin-bottom :34px;
        margin-right: 20px;

        &__block {
            height: 250px;
        }
    }
}