.marker {
    flex-direction: column;
    // padding-left: 15px;
    @media screen and (max-width: $md-break) { 
        padding-left: 10px;
    }

    &__title {
        margin: 7px 0 2px 0;

        @media screen and (max-width: $md-break) { 
            margin-top: 5px;
        }
    }


    p {
        margin: 0;
    }

    &__galleryCta {
        cursor: pointer;
    }

    &__arrow {
        font-size: 19px;
    }

    button, .btn {
        padding: 7px 5px;
        width: 100%;
        margin-top: 6px;
    }

    .btn {
        color: white;
        text-align: center;
    }
}

// marker contents
.we-pp {
    max-width: 200px;
    transform: translateX(70px);

    @media screen and (max-width: $md-break) { 
        max-width: $md-break;
    }
}