.searchPosts {
    position: absolute;
    right: 0;
    top: -41px;

    &__input {
        background-color: rgba(0,0,0,0);
        border: 0;
        border-bottom: 1px solid $primary-color;
        color: $primary-color-light;
        cursor: text;
        transition: 0.25s;
        padding: 7px 0;
        width: 0;

    }

    &__submit {
        background-color: rgba(255,255,255,0);
        background-image: url("../assets/img/search.png");
        background-size: 100% 100%;
        height: 17px;
        padding: 0;
        position: relative;
        top: 8px;
        width: 17px;

        &:hover {
            background-color: rgba(255,255,255,0);
        }
    }

    &:focus, &:hover, &.active, {
        .searchPosts__input {
            padding: 7px;
            width: 175px;
        }
    }

    .searchPosts__input:focus {
        padding: 7px;
        width: 175px;
    }

    @media screen and (max-width: $md-break) {
        height: 35px;
        right: 0;
        top: 0px;
        z-index: 2;

        &__input {
            border-bottom: 1px solid $primary-color;
            font-size:  11px;
            height: 32px;
            margin-right: 32px;
            padding: 5px 0 0;
        }

        &__submit {
            filter: brightness(100) saturate(0);
            position: absolute;
            top: 10px;
            height: 14px;
            right: 7px;
            width: 15px;
        }

        &:hover,  &.active, &:focus {
            background-color: white;
            padding-left: 10px;

            .searchPosts__input {
                width: 155px;
            }

            .searchPosts__submit {
                filter: none;
            }
        } 

        .searchPosts__input:focus { 
            width: 155px;
        }
    }
}