.searchPosts {
    position: absolute;
    right: 0;
    top: -41px;

    &__input {
        background-color: rgba(0,0,0,0);
        border: 0;
        border-bottom: 1px solid $primary-color;
        color: $primary-color-light;
        cursor: text;
        transition: 0.25s;
        padding: 7px 0;
        width: 0;

    }

    &__submit {
        background-color: rgba(255,255,255,0);
        background-image: url("../assets/img/search.png");
        background-size: 100% 100%;
        height: 17px;
        padding: 0;
        position: relative;
        top: 8px;
        width: 17px;

        &:hover {
            background-color: rgba(255,255,255,0);
        }
    }

    &:focus, &:hover, &.active, {
        .searchPosts__input {
            padding: 7px;
            width: 175px;
        }
    }

     .searchPosts__input:focus {
            padding: 7px;
            width: 175px;
        }

    @media screen and (max-width: $md-break) {
        left: 0;
        right: auto;
    }
}