.face0 {
    background-image: url(../../../assets/img/about-me/face0.png);
}
.face1 {
    background-image: url(../../../assets/img/about-me/face1.png);
}
.face2 {
    background-image: url(../../../assets/img/about-me/face2.png);
}
.face3 {
    background-image: url(../../../assets/img/about-me/face3.png);
}
