.footer {
    background-color: $light-gray;
    // account for side padding inside app's shoulders
    margin: 10px -20px 5px;
    padding: 20px 5px 5px;

    &__sourceCodeLink {
        font-size: 10px;
        margin-top: 7px;
        text-align: center;
    }

    @media screen and (max-width: $md-break) {
        margin: 0;
    }
}