$header-margin-bottom: 16px;

.header {
	display: block;
	margin-bottom: $header-margin-bottom;
	position: relative;
	width: 100%;
	z-index: 1;

	&__lead {
		position: relative;
	}

	&__logo {
		background-color: url("../assets/img/airplane.png");
		background-size: cover;
		float: left;
		height: 37px;
		margin-top: 6px;
    	width: 50px;
	}

	&__border {
		background-image: url("../assets/img/chevron.png");
		background-size: 5px 9px;
		bottom: $header-margin-bottom * -1;
		height: 9px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	@media screen and (max-width: $md-break) {
		background-color: $primary-color;
		height:35px;
		margin-bottom: 0;
		&__logo {
			display: none;
		} 
		&__border {
			display: none;
		}
	}
}