$header-margin-bottom: 10px;

.header {
	display: block;
	margin-bottom: $header-margin-bottom;
	position: relative;
	width: 100%;
	z-index: 1;


	&__box {
		display: relative;
	}

	&__section {
		display: inline-block;
		position: relative;
		
		@media screen and (max-width: $md-break) {
			width: 100%;
		}

		&--lg {
			bottom: 5px;
			position: absolute;
			right: 0;
		}
	}

	&__logo {
		background-image: url("../assets/img/airplane.png");
		background-size: cover;
		height: 19px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
	}

	.title {
		margin-left: 26px;

		@media screen and (max-width: $md-break) {
			margin: 0;
		}
	}

	&__border {
		background-image: url("../assets/img/chevron.png");
		background-size: 5px 9px;
		bottom: $header-margin-bottom * -1;
		height: 9px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	@media screen and (max-width: $md-break) {
		background-color: $primary-color;
		height:40px;
		margin-bottom: 0;
		position: fixed;
		top: 0;

		&__logo {
			display: none;
		} 
		&__border {
			display: none;
		}
	}
}