.header {
	display: inline-block;
	position: relative;
	width: 100%;

	&__logo {
		background-image: url("../assets/img/airplane.png");
		background-size: cover;
		float: left;
		height: 37px;
		margin-top: 6px;
    	width: 50px;
	}

	&__border {
		background-image: url("../assets/img/chevron.png");
		background-size: auto 100%;
		bottom: 0;
		height: 9px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}