.menu {
	font-family: $secondary-font;
  padding: 0;
	position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &__item {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;

    &--placeholder {
      display: none;
    }
  }

  .selected a {
    color: lighten($primary-color, 25%);
    font-family: $secondary-font-bold;
    pointer-events: none;
  }

  a {
    display: block;
		font-family: $secondary-font;
		margin-right: 10px;
		padding: 5px 0;
		text-decoration: none;
		text-transform: uppercase;
    transition: $ani-speed;

    &:hover {
      color: lighten($primary-color, 25%);
    }
	}

  @media screen and (max-width: $md-break) {
    margin-bottom: 0;
    margin-top: 15px;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    transform: none;

    &::after {
      content: '';
      background: url("../assets/img/chevron.png");
      height: 9px;
      position: absolute;
      right: 10px;
      top: 13px;
      width: 5px;
      transition: $ani-speed;
    }

    &__item {
      border-bottom: 0;
      display: block;
      height: 0;
      overflow: hidden;

       &--placeholder {
         cursor: pointer;
         display: block;
         & , a {
           height: 30px;
         }
       }

      a {
        border-bottom: 0.5px solid $primary-color-light;
      }

    }

    &--opened {
      height: auto;

      .menu__item, .menu__item a {
        height: auto;
      }

      &::after {
        transform: rotate(270deg);
      }
    }


    a {
      width: 100%;
      margin: 0;
      padding: 5px 5px;
    }

    .selected {
      a {
        pointer-events: auto;
      }
    }
  }
}