.menu {
  font-family: $secondary-font;

  &__nav {
    padding: 0;
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.25s;
  }

  &__item {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
  }

  .selected {
    color: lighten($primary-color, 25%);
    font-family: $secondary-font-bold;
    pointer-events: none;
  }

  a {
    display: block;
		font-family: $secondary-font;
		margin-right: 10px;
		padding: 5px 0;
		text-decoration: none;
		text-transform: uppercase;
    transition: $ani-speed;

    &:hover {
      color: lighten($primary-color, 25%);
    }
	}

  @media screen and (max-width: $md-break) {
    &__nav {
      background-color: $white;
      border-right: 0.5px solid $primary-color-light;
      left: 0;
      margin-bottom: 0;
      margin-top: 0;
      position: absolute;
      right: auto;
      top: 35px;
      transform: translateX(-101%);
      width: auto;
      z-index: 1;
     
      .menu__item, .menu__item a {
        height: auto;
      }
    }

    &__item {
      border-bottom: 0;
      display: block;
      height: 0;
      overflow: hidden;

      a {
        border-bottom: 0.5px solid $primary-color-light;
      }

    }

    &--opened {
      transform: translateX(0);
      display: block;

    }


    a {
      width: 100%;
      margin: 0;
      padding: 5px 10px 5px 20px;
    }

    .selected {
      a {
        pointer-events: auto;
      }
    }
  }

  &__cta {
    background: none;
    display: none;
    font-size: 14px;
    height: 100%;
    position: absolute;
    left: 0;
    text-transform: uppercase;
    width: auto;

    &:hover, &:focus {
      background: none;
    }
  }

  @media screen and (max-width: $md-break) {
    width: 100%;

    &__nav {
      text-align: left;
    }


    &__cta {
      display: block;
    }
  }
}