.title {
	color: $primary-color;
	display: inline-block;
	margin-bottom: 0;
	text-transform: uppercase;

	&__block {
		display: inline-block;
		font-size: 22px;
    	line-height: 18px;
    	text-align: right;
	}
	&__text {
		display: inline-block;
		font-size: 46px;
	}

	@media screen and (max-width: $md-break) {
		background-color: $white;
		border-radius: 100%;
		left: 50%;
		padding: 11px 9px;
		transform: translateX(-50%);
		margin-top: 12px;
		position: absolute;

		&--desktop {
			display: none;
		}

		&__block {
			font-size: 9px;
			line-height: 10px;
		}
		&__text {
			font-size: 24px;
		}
	}
}