.carousel {
    border-bottom: 1px solid $primary-color-light;
    display: inline-block;
    margin: 0 0 25px;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;

    &__slide {
        display: inline-block;
        left: 101%;
        position: absolute;
        width: 101%;
        top: 0;

        &--active {
            position: relative;
            transform: translateX(0);

        }

        &--prev {
            transform: translateX(-100%);
            opacity: 0.5;
        }  

        &--next {
            transform: translateX(101%);
            opacity: 0.5;
        }

        &--next, &--active, &--prev {
            left: -1%;
            transition: $ani-speed * 1.5 ease-in-out;
        }


    }

    &__nav {
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        height: 50px;
        z-index: 10;
    }

    &__next {
        right: 0;
    }

    &__prev {
        margin-left: 40px; 
        align-self: center;
        background-image: url('../assets/img/arrow.svg');
        background-color: transparent;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 45px;
        height: 60px;
        background-size: 100% 100%;
        font-size: 0;
        cursor: pointer;

        @media screen and (max-width: $md-break) { 
            margin-left: -5px;
        }
    }

    &__next {
        margin-right: 40px;
        align-self: center;
        background-image: url('../assets/img/arrow.svg');
        background-color: transparent;
        width: 45px;
        height: 60px;
        background-size: 100% 100%;
        font-size: 0;
        cursor: pointer;

        @media screen and (max-width: $md-break) { 
            margin-right: 0px;
        }
    }

    &__nav {
        @media screen and (max-width: $md-break) { 
            background-color: $primary-color;
        }
    }
}