$ani-speed: 0.25s;

.blur-up {
		filter: blur(5px);
		transition: filter $ani-speed * 1.5, -webkit-filter $ani-speed * 1.5;
	}

.blur-up.lazyloaded {
	  filter: blur(0);
}

@keyframes carouselSlideIn {
  0% {

  }
  100% {
    float: left
  }
}

@keyframes carouselSlideOut {
  0% {
    float: left
  }
  100% {
    position: absolute;
  }
}

@keyframes emphasize {
  0%{
    box-shadow: 0  0 0.5px 0.5px $secondary-color;
  }
  50%{
    box-shadow: 0 0 2px 0.5px  darken($secondary-color, 2);
  }
  100%{
    box-shadow: 0  0 0.5px 0.5px  $secondary-color;
  }
}

@keyframes shake {
    0%{
      transform: translateX(2px);
    }
    25%{
      transform: translateX(-2px);
    }
    50%{
      transform: translateX(2px);
    }
    75%{
      transform: translateX(-2px);
    }
    100%{
      transform: translateX(0);
    }
}