body {
  background: $light-gray;
}

.App {
  margin: 50px auto;
  max-width: 1078px;
  min-width: $min-width;
  width: calc(100% - 100px);
  background: $white;
  padding: 20px;
  border-radius: 1px;

  @media screen and (max-width: $md-break) {
    border-radius: 0;
    margin-top: 45px;
    width: 100%;
  }
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
