body {
  background: $light-gray;
}

.App {
  margin: 80px auto;
  max-width: 1200px;
  width: calc(100% - 160px);
  background: $white;
  padding: 20px;
  border-radius: 1px;
}

.Menu a {
  display: inline-block;
  padding: 5px 0;
  margin-right: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
