.btn {
    background-color: $primary-color-light;
    border-radius: 2px;
    color: $light-blue;
    cursor: pointer;
    display: block;
    padding: 11px 11px;
    transition: $ani-speed;

    &:hover {
        color: $white;
        background-color: lighten($primary-color-light, 2);
    }
}