.btn {
    background-color: $primary-color-light;
    border-radius: 2px;
    color: $light-blue;
    cursor: pointer;
    display: block;
    padding: 11px 11px;
    transition: $ani-speed;

    &:hover {
        color: $white;
        background-color: lighten($primary-color-light, 2);
    }

    &_arrow {
        position: relative;

        &:before, &:after {
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            content: '';
            display: inline-block;
            height: 0.8em;
            position: absolute;
            top: 50%;
            vertical-align: top;
            width: 0.8em;

            &:hover {
                border-color: $secondary-color;
            }
        }

        &--left {
            padding-left: 25px;
            &:before {
                 transform: translateY(-50%) rotate(-133deg);
                 left: 10px;
            }
            &:after {
                display: none;
            }
        }
        &--right {
            padding-right: 25px;
            &:before {
                display: none;
            }
            &:after {
                transform: translateY(-50%) rotate(45deg);
                right: 10px;
            }
        }
    }
}