@font-face {
  font-family: verlag-light;
  src: url('../assets/fonts/verlag/Verlag-Light.otf');
}

@font-face {
  font-family: verlag-book;
  src: url('../assets/fonts/verlag/Verlag-Book.otf');
}

@font-face {
  font-family: alegreyaSans-light;
  src: url('../assets/fonts/alegreyaSans/AlegreyaSans-Light.otf');
}

@font-face {
  font-family: alegreyaSans-regular;
  src: url('../assets/fonts/alegreyaSans/AlegreyaSans-Regular.otf');
}
