input, textarea  {
    border-radius: 1px;
    border: 0.5px solid rgba($primary-color, 0.5);
    font-size: 14px;
    line-height: 22px;
    padding: 7px;
    margin-bottom: 10px;
}

button {
    background-color: $primary-color;
    border: 0px;
    color: $white;
    cursor: pointer;
    padding: 7px 12px;
    text-align: center;

    &:hover {
        background-color: darken($primary-color, 0.5);
    }

    @media screen and (max-width: $md-break) { 
        display: block;
        padding: 12px;
        width: 100%;
    }
}