$primary-font: verlag-light;
$primary-font-bold: verlag-book;
$secondary-font: alegreyaSans-light;
$secondary-font-bold: alegreyaSans-regular;

a, p, h1, h2, h3, h4, h5, h6, ul {
	font-family: $primary-font;
	color: $text-color;
}

p, em, string {
	line-height: 1.4;
}

ul, em, strong {
	color: $primary-color-emphasized;
}

ul {
	line-height: 1.75;
}

bold {
	font-family: $primary-font-bold;
}

blockquote {
        background-color: $light-gray;
        border-left: 5px solid $primary-color;
        margin-right: 0;
		margin-left: 0;
        font-family: $secondary-font-bold;
        font-size: 17px;
        padding: 25px 25px 25px 49px;
        position: relative;
		
		&:before {
            background: url("/assets/img/quotes.png");
            background-size: 100% auto;
            content: ' ';
            color: $secondary-color;
            position: absolute;
            height: 22px;
            top: 9px;
            left: 8px;
            font-size: 55px;
            font-family: serif;
            width: 30px;
        }
}
