$primary-font: open_sans;
$primary-font-bold: open_sansbold;
$secondary-font: alegreyaSans-light;
$secondary-font-bold: alegreyaSans-regular;
$title-font: blackjack;

a, p, h1, h2, h3, h4, h5, h6, ul, ol, label {
	font-family: $primary-font;
	color: $text-color;
}

strong {
    font-family: $primary-font-bold;
    letter-spacing: 0.7px;
}

p, em, strong {
    line-height: 1.6;
    font-size: 16px;
    @media screen and (max-width: $md-break) { 
        font-size: 18px;
        line-height: 1.8;
      }
}

ul, em, strong {
	color: $primary-color-emphasized;
}

a {
    color: $light-blue;
    text-decoration: none;
    transition: $ani-speed;

    &:hover, &:focus {
        color: lighten($light-blue, 9);
    }
}

ul, ol {
	line-height: 1.75;
}

ol {
    padding-left: 15px;
}

bold {
	font-family: $primary-font-bold;
}

blockquote {
        background-color: $light-gray;
        border-left: 5px solid $primary-color;
        margin-right: 0;
		margin-left: 0;
        font-family: $secondary-font-bold;
        font-size: 19px;
        padding: 25px 25px 25px 49px;
        position: relative;
		
		&:before {
            background: url("../assets/img/quotes.png");
            background-size: 100% auto;
            content: ' ';
            color: $secondary-color;
            position: absolute;
            height: 22px;
            top: 9px;
            left: 8px;
            font-size: 55px;
            font-family: serif;
            width: 30px;
        }

        @media screen and (max-width: $md-break) { 
            font-size: 26px;
            line-height: 2;
          }
}
