:root {
    --light-gray: #f0f0f2;
    --lightest-gray: rgba(0,0,0, 0.1);
    --black: #000;
    --text-color: #3d4459;
    --light-blue: #6baed0;
    --white: #fff;
    --error: #f00;

    --primary-color: #004466;
    --primary-color-emphasized: #0c2776;
    --primary-color-light: lighten(var(--primary-color), 0.2);
    --secondary-color: #810a23;
}
