@font-face {
  font-family: alegreyaSans-light;
  src:
    url('../assets/fonts/alegreyaSans/AlegreyaSans-Light.otf') format("opentype"),
    url('../assets/fonts/alegreyaSans/alegreyasans-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/alegreyaSans/alegreyasans-light-webfont.woff') format('woff');
}

@font-face {
  font-family: alegreyaSans-regular;
  src: 
    url('../assets/fonts/alegreyaSans/AlegreyaSans-Regular.otf') format("opentype"),
    url('../assets/fonts/alegreyaSans/alegreyasans-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/alegreyaSans/alegreyasans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: blackjack;
  src: url('../assets/fonts/blackjack/blackjack.otf') format("woff");
}

@font-face {
  font-family: 'open_sanslightitalic';
  src: url('../assets/fonts/opensans/OS-CondLightItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../assets/fonts/opensans/OS-CondLight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../assets/fonts/opensans/OS-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../assets/fonts/opensans/OS-CondBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
