input, textarea  {
    border-radius: 1px;
    border: 0.5px solid rgba(var(--primary-color), 0.5);
    font-size: 14px;
    line-height: 22px;
    padding: 7px;
    margin-bottom: 10px;
}

button {
    background-color: var(--primary-color);
    border: 0px;
    color: var(--white);
    cursor: pointer;
    padding: 7px 12px;
    text-align: center;
}

.button:hover {
    background-color: darken(var(--primary-color), 0.5);
}

@media screen and (max-width: var(--md-break)) { 
    .button {
        display: block;
        padding: 12px;
        width: 100%;
    }
}
